@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:black">
    <h1>PUBLIC LIBRARY OF CLUJ</h1>
    
</div>

<div >
    <div class="col-md-4"style="background-color:darkgrey">
        <h2>
            “There is more treasure in books than in all the pirate’s loot on Treasure Island.” -Walt Disney</h2>
        
    </div>
    <div class="col-md-4"style="background-color:darkgrey">
        <h2>“All good books have one thing in common – they are truer than if they had really happened.” -Ernest Hemingway</h2>
        
    </div>
    <div class="col-md-4"style="background-color:darkgrey">
        <h2>“You can have my gun, but you’ll take my book when you pry my cold, dead fingers off of the binding.” -Stephen King</h2>
        
    </div>
</div>