@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>Sacred Heart Library</h3>

<address>
    Iașilor Street nr.3<br />
    Cluj-Napoca, Romania<br />
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2732.448833848175!2d23.588356315555192!3d46.77575957913834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490e9ee1ff426f%3A0x9eb2e375088c04dd!2sStrada%20Ia%C8%99ilor%203%2C%20Cluj-Napoca%20400146!5e0!3m2!1sen!2sro!4v1569587941496!5m2!1sen!2sro" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe><br>
    <p>Phone Number:0745.123.456</p>

</address>

<address>
    <strong>Email:</strong>   <a href="mailto:SacredHeartLib@yahoo.com">SacredHeartLib@yahoo.com</a><br />
    
</address>